@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    NYP<br />
    Singapore<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@nyp.edu.sg">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@nyp.edu.sg">Marketing@example.com</a>
</address>